.home-container {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .update-card {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 85%;
    backdrop-filter: blur(5px);
    background-color: rgba(4, 6, 0, 0.4);
    border-radius: 15px;

    .full-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 8rem;
      }

    }

    .update-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 1
    }
  }
}