/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

#root {
  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
}